@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/* reset css */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --bg-primary: #182940;
  --secondary: #005148;
  --text-secondary: #010326;
}

body {
  background-color: var(--bg-primary);
  font-family: "Inter", sans-serif;
  color: whitesmoke;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  height: 18px;
  justify-content: space-between;
  cursor: pointer;
  width: 25px;
}

.bar {
  height: 3px;
  background-color: white;
  display: block;
  border-radius: 5px;
}


/* When toggled */
.burger-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: red;
  transition: 100ms ease-in-out ;
}

.burger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: red;
  transition: 100ms ease-in-out ;
}

nav {
  display: grid;
  grid-template-columns: 2fr .5fr .5fr;
  align-items: center;
  gap: 1em;
  height: 2.5em;
}

nav h3 {
  margin: 0;
}

.nav-links {
  display: none;
  background-color: var(--bg-primary);
  position: absolute;
  top: 3em;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  border-top: 1px solid white;
}

ul {
  width: 100%;
  padding: 0;
}

ul li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.325);
  padding: 10px 0;
}

ul li i {
  margin-left: 5px;
  font-size: 10px;
}

.nav-items-icons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.nav-items-icons i {
  font-size: 30px;
  margin:  0 5px;
}

.theme {
 background-color:  rgba(215, 210, 210, 0.329);
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1.5em;
 border-radius: 10px;
}

.theme p {
  margin: 0;
  padding: 0;
  font-size: 0.875em;
}



.nav-items {
  padding: 30px;
}



.showNav {
  display: block;
}

.hideContent {
  display: none;
}

.main-image img {
  opacity: .5;
}

.quick-links {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}

.quick-links button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  margin: 3px;
  background-color: #405979e0;
  color: whitesmoke;
}

.quick-links button:first-child {
  background-color: #3d74bd;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 20px 0;
}

.block {
  background-color: var(--bg-primary);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(215, 210, 210, 0.329);
}

.block:hover {
  cursor: pointer;
  border: 2px solid #3d74bd;
  transition: 200ms ease-in-out;
}

.block p:first-of-type {
  font-weight: bold;
}

.block p:last-of-type {
  font-size: 0.875em;
}

.icon {
  background-color: rgba(62, 55, 55, 0.39);
  border-radius: 10px;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.sub-headline {
  color: rgb(206, 194, 194);
}

footer {
  background-color: var(--text-secondary);
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}





@media (min-width: 25rem) {
 
}